menu "Meteo Configuration"

    menu "Access Point Configuration"

        config WIFI_MANAGER_TASK_PRIORITY
            int "RTOS Task Priority for the wifi_manager"
            default 5
            help
            Tasks spawn by the manager will have a priority of WIFI_MANAGER_TASK_PRIORITY-1. For this particular reason, minimum recommended task priority is 2.
        
        config WIFI_MANAGER_RETRY_TIMER
            int "Time (in ms) between each retry attempt"
            default 5000
            help
            Defines the time to wait before an attempt to re-connect to a saved wifi is made after connection is lost or another unsuccesful attempt is made.
        
        config WIFI_MANAGER_MAX_RETRY_START_AP
            int "Max Retry before starting the AP"
            default 3
            help
            Defines the maximum number of failed retries allowed before the WiFi manager starts its own access point.  
            
        config WIFI_MANAGER_SHUTDOWN_AP_TIMER
            int "Time (in ms) to wait before shutting down the AP"
            default 60000
            help
            Defines the time (in ms) to wait after a succesful connection before shutting down the access point.
        
        config WEBAPP_LOCATION
            string "Defines the URL where the wifi manager is located"
            default "/"
            help
            This parameter helps you relocate the wifimanager to another URL, for instance /wifimanager/ The trailing slash is important and should be included
        
        config DEFAULT_AP_SSID
            string "Access Point SSID"
            default "esp32"
            help
            SSID (network name) the the esp32 will broadcast.
        
        config DEFAULT_AP_PASSWORD
            string "Access Point Password"
            default "123456789"
            help
            Password used for the Access Point. Leave empty and set AUTH MODE to WIFI_AUTH_OPEN for no password.
        
        config DEFAULT_AP_CHANNEL
            int "Access Point WiFi Channel"
            default 1
            help
            Be careful you might not see the access point if you use a channel not allowed in your country.
        
        config DEFAULT_AP_IP
            string "Access Point IP Address"
            default "10.10.0.1"
            help
            This is used for the redirection to the captive portal. It is recommended to leave unchanged.
        
        config DEFAULT_AP_GATEWAY
            string "Access Point IP Gateway"
            default "10.10.0.1"
            help
            This is used for the redirection to the captive portal. It is recommended to leave unchanged.
        
        config DEFAULT_AP_NETMASK
            string "Access Point Netmask"
            default "255.255.255.0"
            help
            This is used for the redirection to the captive portal. It is recommended to leave unchanged.
        
        config DEFAULT_AP_MAX_CONNECTIONS
            int "Access Point Max Connections"
            default 4
            help
            Max is 4.
        
        config DEFAULT_AP_BEACON_INTERVAL
            int "Access Point Beacon Interval (ms)"
            default 100
            help
            100ms is the recommended default.

        config DEFAULT_MAX_VFS_FAT_FILES
            int "Maximum number of available files for VFS FAT"
            default 6

        config LOG_MESSAGE_MAX_LEN
            int "Loging message maximum length"
            default 256

        config LOG_FILE_MAX_SIZE
            hex "Loging file maximum size"
            default 0x50000

    endmenu
    
    menu "WPA2 Enterprise Configuration"

        config WIFI_SSID
            string "WiFi SSID"
            default "wpa2_test"
            help
                SSID (network name) for the example to connect to.
    
        config VALIDATE_SERVER_CERT
            bool "Validate server"
            default y
            help
                Validate the servers' certificate using CA cert.
    
        choice
            prompt "EAP method for the example to use"
            default EAP_METHOD_PEAP
            config EAP_METHOD_TLS
                bool "TLS"
            config EAP_METHOD_PEAP
                bool "PEAP"
            config EAP_METHOD_TTLS
                bool "TTLS"
        endchoice
    
        config EAP_METHOD
            int
            default 0 if EAP_METHOD_TLS
            default 1 if EAP_METHOD_PEAP
            default 2 if EAP_METHOD_TTLS
    
        choice
            prompt "Phase2 method for TTLS"
            depends on EAP_METHOD_TTLS
            default EAP_METHOD_TTLS_PHASE2_MSCHAPV2
            config EAP_METHOD_TTLS_PHASE2_MSCHAPV2
                bool "MSCHAPV2"
            config EAP_METHOD_TTLS_PHASE2_MSCHAP
                bool "MSCHAP"
            config EAP_METHOD_TTLS_PHASE2_PAP
                bool "PAP"
            config EAP_METHOD_TTLS_PHASE2_CHAP
                bool "CHAP"
        endchoice
    
        config EAP_METHOD_TTLS_PHASE_2
            int
            default 1 if EAP_METHOD_TTLS_PHASE2_MSCHAPV2
            default 2 if EAP_METHOD_TTLS_PHASE2_MSCHAP
            default 3 if EAP_METHOD_TTLS_PHASE2_PAP
            default 4 if EAP_METHOD_TTLS_PHASE2_CHAP
    
        config EAP_ID
            string "EAP ID"
            default "example@espressif.com"
            help
                Identity in phase 1 of EAP procedure.
    
        config EAP_USERNAME
            string "EAP USERNAME"
            depends on EAP_METHOD_PEAP || EAP_METHOD_TTLS
            default "espressif"
            help
                Username for EAP method (PEAP and TTLS).
    
        config EAP_PASSWORD
            string "EAP PASSWORD"
            depends on EAP_METHOD_PEAP || EAP_METHOD_TTLS
            default "test11"
            help
                Password for EAP method (PEAP and TTLS).

        config EAP_CERTIFICATE_BUFFER_SIZE
            int
            default 8192
    
    endmenu    

    menu "FAT STORAGE Configuration"

        config DEFAULT_STORAGE
            string "FAT partition label"
            default "storage"
    endmenu   

    menu "HTTPS Client Configuration"
   
        config TIMEZONE
            string "Local timezone"
            default "GMT-3"
    
        config ROOT_DIR
            string "Root dir http server"
            default "/api/v1/esp32"
    
        config COMMAND_UPGRADE_SUCCESS
            string "Command upgrade firmware"
            default "UPGRADE_SUCCESS"
    
        config COMMAND_UPGRADE_FAIL
            string "Command upgrade firmware"
            default "UPGRADE_FAIL"
    
        config FIRMWARE_DIR
            string "Firmware file path"
            default "/firmware"
    
        config FIRMWARE_EMPTY
            string "Firmware file empty pattern"
            default "_EMPTY_"
    
        config COMMAND_SETUP_STARTED
            string "Command start setup mode"
            default "SETUP_STARTED"
    
        config COMMAND_RESTARTED
            string "Command restart"
            default "RESTARTED"

        config COMMAND_DATE_TIME_SET
            string "Command set refresh timestamp on database"
            default "DATE_TIME_SET"
            
        config COMMAND_RADSENS_HV_SET
            string "Command set radsens hv generator"
            default "RADSENS_HV_SET"

        config COMMAND_RADSENS_SENSITIVITY_SET
            string "Command set sensitivity"
            default "RADSENS_SENSITIVITY_SET"

    endmenu

    menu "RadSens Configuration"

        config RADSENS_DEVICE_ID
            hex "Device ID"
            default 0x7D
            help
            Default value 0x7D

        config RADSENS_VERSION
            hex "Firmware version"
            default 0x02
            help
            Default version 1.2 value = 0x02, for version 2.6 value = 0x08
    endmenu   

   
endmenu



