menu "Meteo Configuration"

     menu "SSD1306 Configuration"  
        choice PANEL
            prompt "Panel Type"
            default SSD1306_128x64
            help
                Select Panel Type.
            config SSD1306_128x32
                bool "128x32 Panel"
                help
                    Panel is 128x32.
            config SSD1306_128x64
                bool "128x64 Panel"
                help
                    Panel is 128x64.
        endchoice       
    
    endmenu   

    menu "RESET Delays"  
        config RESET_ESP32
            int "Press time to restart ESP32"
            default 5000
            help
            Specify press time in milliseconds before restart ESP32.                       

        config RESET_ARDUINO
            int "Press time to restart Arduino"
            default 10000
            help
            Specify press time in milliseconds before restart Arduino.                       

        config SETUP_MODE_ESP32
            int "Press time to setup mode ESP32"
            default 15000
            help
            Specify press time in milliseconds before setup mode ESP32.                       
                    
    endmenu   

endmenu



