menu "MICS6814"

    config MICS6814_GPIO_NO2
        int "MICS6814 NO2 GPIO Num"
        default 32
        help
            GPIO number for MICS6814 NO2 gas data line.

    config MICS6814_GPIO_NH3
        int "MICS6814 NH3 GPIO Num"
        default 33
        help
            GPIO number for MICS6814 NH3 gas data line.

    config MICS6814_GPIO_CO
        int "MICS6814 CO GPIO Num"
        default 25
        help
            GPIO number for MICS6814 CO gas data line.

    config CALIBRATION_ATTEMPS_MAX
        int "MICS6814 maximum number of calibration cycles"
        default 20
        help
            Maximum number of calibration cycles.

    config NO_OF_SAMPLES
        int "MICS6814 number of samples for one measurement"
        default 64
        help
            Number of samples for one measurement.

endmenu
