.sign-h{
    padding-left: 230px !important;
}
.sign-item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 5px;
}
.sign-label{
    width: 150px;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 5px;
    text-align: right;
    float: right;
    font-weight: 700;
}
.sign-label::after{
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
}
.sign-input{
    width: 50% !important;
    margin-right: 140px;
    margin-left: 10px;
    float: right;
}
.btn-new{
    margin-right: 345px !important;    
}
.hlogin{
    font-size: 14px;    
    margin-right: 290px !important;    
    margin-bottom: 10px;
}

.remember{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.remember+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.remember+label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    border: 1px solid rgba(34,36,38,.15);
    background-color: rgb(24, 26, 27);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.remember:not(:disabled):not(:checked)+label:hover::before {
    border-color: #719ECE;
}
.remember:not(:disabled):active+label::before {
    background-color: 719ECE;
    border-color: #719ECE;
}
.remember:focus+label::before {
    box-shadow: 0 0 5px #719ECE;
}
.remember:checked+label::before {
    border-color: #719ECE;
    background-color: black;
    content: "\2713";
    font-size: 14px;
}
.lrem{
    font-size: 14px;
    margin-right: 380px;
    margin-top: 2px;
}
.rem-top{
    margin-top: 10px;
}
.btn-login{
    padding-left: 20px;   
    padding-right: 20px;   
}
.forget{
    font-size: 14px;  
    margin-right: 325px;  
    margin-top: 20px;
}
.flogin{
    font-size: 14px;    
    margin-right: 285px !important;    
    margin-bottom: 10px;
}

